<!--The content below is only a placeholder and can be replaced.-->
<!-- '[ngStyle]' es una directiva de atributos -->
<div [ngStyle]="{ 
                'background':Config.fondo,
                'padding':'20px',
                'border':'5px solid black',
                'border-color':Config.color
                }">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>{{descripcion}}</p>

  <!--#Ejemplo OnDestroy-->
  <!--#Para llamar un evento. Ejemplo: 'click' se hace entre parentésis-->
  <!-- <button (click)="ocultarVideoJuegos(false)" *ngIf="mostrar_videojuegos">Ocultar videojuego</button>
  <button (click)="ocultarVideoJuegos(true)" *ngIf="!mostrar_videojuegos">Mostrar videojuego</button> -->
  
  <!--#Llamando componente creada -> videojuego.component.ts-->
  <!--#Aqui, selector 'videojuego' solo se mostrara si 'mostrar_videojuegos'=true-->
  <!--#Selector 'videojuego' creado en componente creada-->
  <!-- <videojuego *ngIf="mostrar_videojuegos"></videojuego> -->

  <!--#Llamando componente creada -> zapatilla.component.ts-->
  <!--#Selector 'zapatillas' creado en componente creada-->
  <zapatillas></zapatillas>

  <!--#Llamando componente creada -> cursos.component.ts-->
  <!--#Selector 'cursos' creado en componente creada-->
  <!-- <app-cursos></app-cursos> -->
</div>
